nav {
    background-color: rgba(0, 0, 0, 0.145);
}
body {
    background-color: black;
}
.header {
    background-color: black;
    height: 100vh;
}

.headercontainer {
    width: 300px;
    text-align: center;
}

.type {
    font-family: monospace;
    color:#0000;
    background:
      linear-gradient(-90deg,white 5px,#0000 0) 10px 0,
      linear-gradient(white 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
      b .7s infinite steps(1),   
      t calc(var(--n)*.1s) steps(var(--n)) forwards;
      font-size: 30px;
  }
  
  @keyframes t{
    from {background-size:0 200%}
  }
  @keyframes b{
    50% {background-position:0 -100%,0 0}
  }
  
  
  .tools{
    background-color: black;
    height: 100vh;
  }
  
  .col svg {
      margin: 20px;
      width: 50px;
      height: 50px;
  }
  .col {
      display: flex;
      justify-content: center;
  }

  