/* MOBILE FIRST LAYOUT MIN-WIDTH 320px*/
body, html {
    overflow-x: hidden;
  }
   /* BACKGROUND */
#svg-background {
    z-index: -10;
    height: 600px
  }
  
  /* HEADER */
  #header {
      height: 100vh;
  }
  .headercontainer {
      margin-top: 30%;
      width: 300px;
     text-align: center;
  }
  .type {
    font-family: monospace;
    color:#0000;
    background:
      linear-gradient(-90deg,white 5px,#0000 0) 10px 0,
      linear-gradient(white 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
      b .7s infinite steps(1),   
      t calc(var(--n)*.1s) steps(var(--n)) forwards;
      font-size: 23px;
  }
  @keyframes t{
    from {background-size:0 200%}
  }
  @keyframes b{
    50% {background-position:0 -100%,0 0}
  }
/* ARROW */
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 150px;
    fill: white;
    
  }
  
  .arrows path {
    stroke: rgba(255, 255, 255, 0.597);
    fill: transparent;
    stroke-width: 3px;  
  }
 
  /* ABOUT */
  #about h1 {
    font-family: monospace;
  }
  #about p {
    font-family: monospace;
    font-size: 15px;
  }

  #about{
  margin-top: 0px;
    height: 100vh;
  }
  .present1 {
    padding-top: 50px;
  }
  
  .col svg {
      margin: 20px;
      width: 50px;
      height: 50px;
  }
  .col {
      display: flex;
      justify-content: center;
  }

  @media (min-width: 768px) {
    .header {
        height: 100vh;
    }
    .headercontainer {
        margin-top: 25%;
    }
    
    
    
    .headercontainer {
        height: 100px;
        text-align: center;
        margin-top: 25%;
    }
  }

    