/* MOBILE FIRST LAYOUT MIN-WIDTH 320px*/
body, html {
    overflow-x: hidden;
  }
  h1, h2, h3, h4, h5, h6, p, a {
    font-family: monospace;
  }
  p {
    font-size: x-large;
  }
  
 
   /* BACKGROUND */
#svg-background {
    z-index: 0;
    height: 120%;
}
.scaling-svg-container {
  position: relative; 
  height: 90%; 
  width: 100%; 
  padding: 0;
  padding-bottom: 100%; 
}
  /* 575px */
  /* NAV */
 
  .navbar-1{
    padding-top: 30px;
    background-color: black;
    margin-bottom: 0;
    border: solid 6px black;
  }
  .navbar-2{
    background-color: black;
    margin-bottom: 0;
  }
  .navbar-2 svg:hover{
    transform: scale(1.1);
  }
  .navbar-nav:hover {
    transform: scale(1.1);
  }
  .navbutton {
    background-color: white;
    border-radius: 30px;
    height: 25px
  }
  .navbutton {
    padding: 0px;
  }
  /* HEADER */
  #header {
      height: 140vh;
  }

  
  .headercontainer {
    position: absolute;
    top: 40%;
    left: 1%;
    right: 1%;
    height: 100px;
    width: 320px;
    text-align: center;
    z-index: 1;
  }
  .type {
    font-family: monospace;
    color:#0000;
    background:
      linear-gradient(-90deg,white 5px,#0000 0) 10px 0,
      linear-gradient(white 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
      b .7s infinite steps(1),   
      t calc(var(--n)*.1s) steps(var(--n)) forwards;
      font-size: 23px;
  }
  @keyframes t{
    from {background-size:0 200%}
  }
  @keyframes b{
    50% {background-position:0 -100%,0 0}
  }
/* ARROW */
.arrow {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 80%;
    fill: white;
    
  }
  
  .arrows path {
    stroke: rgba(255, 255, 255, 0.85);
    fill: transparent;
    stroke-width: 3px;  
  }
 
  /* ABOUT */
  
  #about p {
    font-size: 18px;
  }
 
  #about{
   margin-top: 0px;
    height: 90vh;
    position: absolute;
    top: 130%;
    left: 0;
    right: 0;
  }
  
  
  .col svg {
      margin: 20px;
      width: 50px;
      height: 50px;
  }
  .col {
      display: flex;
      justify-content: center;
  }
  .skills {
   margin-top: 140px;
   position: absolute;
   z-index: 1;
   left: 0;
   right: 0;
  }

  .skills h1 {
    color: white;
  }
  
  .col {
    padding: 9px;
  }
#projects {
  height: 80vh;
}
.projects {
  position: absolute;
  left: 0;
  right: 0;
  top: 160%;
 
}

.background2 {
  transform: rotate(180deg);
  
}
#about svg {
  transition: transform .1s;
}
#about svg:hover, #projects svg:hover {
  transform: scale(1.1);
}


#contact {
  height: 70vh;
}

input, textarea  {
  font-family: monospace;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input:hover, textarea:hover {
  transform: scale(1.01);
}
.btn {
  font-family: monospace;
  background-color:black;
}
.btn:hover {
  background-color: rgb(73, 73, 73);
  transform: scale(1.01);
}



/* @media (min-width: 374px) {

  .skills {
    top: 30%;
   }
   #projects {
    height: 70vh;
  }
  .projects {
    top: 220%;
   
  
  }
  #about {
    top: 140%;
  }
} */

  @media (min-width: 767px) {
    
  #about {
    top: 140%;
  }
  #about h1, #projects h1 {
    font-size: 50px;
  }
  #about p {
    font-size: 30px;
  }
  .arrow {
    top: 70%
  }
  .skills {
    top: 40%;
  }
.skills svg {
  margin-top: 40px;
  width: 150px;
  height: 80px;
   }
   
  .projects {
    top: 240%;
  }
.projects svg {
  margin-top: 40px;
  width: 80px;
  height: 70px;
}
};
#projects {
  height: 80vh;
}

  @media (min-width: 1023px) {
    #svg-background {
      z-index: -12;
      height: 117%;
      
  }

  };
